sam_vit_b_01ec64.pth
sam_vit_h_4b8939.pth
sam_vit_l_0b3195.pth
.DS_Store
# Data/
Data/arcgis_SAR_SAM/
checkpoints_SAM
checkpoints_LORA_SAM
checkpoints_SAM/0_SAM5122weights_ViT_L_SAR.pth
checkpoints_SAM/1_SAM5122weights_ViT_L_SAR.pth
checkpoints_SAM/2_SAM5122weights_ViT_L_SAR.pth
checkpoints_SAM/3_SAM5122weights_ViT_L_SAR.pth
Data/nasa_sar_manual_download/**/images/
Data/nasa_sar_manual_download/**/labels/
Data/nasa_sar_manual_download/**/**_rgb.tif
Data/nasa_sar_manual_download/**/**.tif.aux.xml
Data/nasa_sar_manual_download/**/**.msk.aux.xml
Data/nasa_sar_manual_download/**/**.tif.msk
Data/nasa_sar_manual_download/**/**.png
# nasa_sar_manual_download
nasa_sar_manual_download_backup
